@import '../../../../../../app-variables';

.penalties-amount-section {
  font-weight: bold;
  font-size: 15;
}

.penalties-icon-placeholder {
  background-color: $primary;

  Label {
    font-size: 30;
    color: white;
  }
}

.penalties-list-footer {
  height: 100;
  background: $primary-gradient;
  padding: 0;

  &__total-amount-section,
  &__total-amount-from-deposit-section {
    color: white;
    width: 45%;
    text-align: center;
  }

  &__total-amount-section-label,
  &__total-amount-from-deposit-section-label {
    font-size: 13;
  }

  &__total-amount-section-icon,
  &__total-amount-from-deposit-section-icon {
    font-size: 16;
  }

  &__total-amount-section-detail,
  &__total-amount-from-deposit-section-detail {
    font-size: 15;
    font-weight: bold;
  }

  &__separator {
    border-right-width: 1;
    border-right-color: white;
    border-right-style: solid;
    height: 100%;
  }
}
