<ns-action-bar [title]="currentTenant?.fullName" [hasMenu]="false">
  <ActionItem
    *ngIf="currentEntity?.isDeletable"
    icon="font://&#xf2ed;"
    class="fa fa-solid action-item-button"
    (tap)="deleteSelectedTenant()"
  ></ActionItem>
  <ActionItem
    icon="font://&#xf00c;"
    class="fa fa-solid action-item-button"
    *ngIf="!currentTenant?.isActive"
    (tap)="activateSelectedTenant()"
  ></ActionItem>
  <ActionItem
    icon="font://&#xf05e;"
    class="fa fa-solid action-item-button"
    *ngIf="currentTenant?.isActive"
    (tap)="deactivateSelectedTenant()"
  ></ActionItem>
</ns-action-bar>

<ns-loader-layout [busy]="false">
  <StackLayout
    class="page-container tenant-detail-container"
    orientation="vertical"
  >
    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical">
        <ns-tenant-details-panel
          [currentTenant]="currentTenant"
        ></ns-tenant-details-panel>

        <ns-tenant-contact-person-list-panel
          [tenantId]="currentTenant?.id"
        ></ns-tenant-contact-person-list-panel>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</ns-loader-layout>
