<ns-loader-layout [busy]="isLoading">
  <FlexBoxLayout
    flexDirection="column"
    justifyContent="space-around"
    class="change-password-main-container"
  >
    <StackLayout class="change-password-form-container">
      <StackLayout class="user-icon" verticalAlignment="center">
        <label class="fa fa-solid" text="&#xf084;"></label>
      </StackLayout>
      <FlexBoxLayout class="change-password-form">
        <StackLayout class="input-field">
          <TextField
            [hint]="'CHANGE_PASSWORD_PAGE.NEW_PASSWORD_CONTROL.LABEL' | translate"
            returnKey="next"
            [autocorrection]="false"
            [secure]="true"
            autocapitalizationType="none"
            [(ngModel)]="newPassword"
          ></TextField>
        </StackLayout>
        <StackLayout class="input-field">
          <TextField
            [hint]="'CHANGE_PASSWORD_PAGE.CONFIRM_NEW_PASSWORD.LABEL' | translate"
            returnKey="next"
            [autocorrection]="false"
            [secure]="true"
            autocapitalizationType="none"
            [(ngModel)]="confirmPassword"
          ></TextField>
        </StackLayout>
        <button
          padding="0"
          [text]="changePasswordButtonText"
          class="nt-button fa fa-solid btn-change-password"
          (tap)="onSubmit()"
          [isEnabled]="formValid"
        ></button>
      </FlexBoxLayout>
    </StackLayout>
  </FlexBoxLayout>
</ns-loader-layout>
