<FlexBoxLayout
  class="page-container__single-command-group page-container__page-divider"
>
  <button
    padding="0"
    alignSelf="flex-end"
    class="page-container__page-command btn-primary -rounded-lg"
    [text]="'GENERAL_TEXTS.MANAGE' | translate"
    (tap)="onNavigateToEditGeneralInformation()"
  ></button>
</FlexBoxLayout>

<StackLayout class="panel">
  <StackLayout class="panel__details-group-panel">
    <!-- Group Header -->
    <StackLayout class="panel__header-section">
      <label
        [text]="
          'PROFILE_INFORMATION_PAGE.GENERAL_CONTROL_GROUP.LABEL' | translate
        "
      ></label>
    </StackLayout>
    <!-- Group body -->
    <StackLayout class="panel__body-section">
      <StackLayout class="panel__details-section" orientation="horizontal">
        <StackLayout class="details-wrapper details-fullname">
          <label
            class="details-label"
            [text]="
              'PROFILE_INFORMATION_PAGE.GENERAL_CONTROL_GROUP.FULL_NAME'
                | translate
            "
          ></label>
          <StackLayout orientation="horizontal">
            <label [text]="fullName"></label>
          </StackLayout>
        </StackLayout>
      </StackLayout>

      <StackLayout class="panel__details-section" orientation="horizontal">
        <StackLayout class="details-wrapper details-gender">
          <label
            class="details-label"
            [text]="
              'PROFILE_INFORMATION_PAGE.GENERAL_CONTROL_GROUP.GENDER_LABEL'
                | translate
            "
          ></label>
          <StackLayout orientation="horizontal">
            <label
              *ngIf="gender === 0"
              [text]="'GENERAL_TEXTS.GENDER.MALE' | translate"
            ></label>
            <label
              *ngIf="gender === 1"
              [text]="'GENERAL_TEXTS.GENDER.FEMALE' | translate"
            ></label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</StackLayout>
