@import '../../../app-variables';

.contract-header-container {
  background: $primary-gradient;
  width: 100%;
  height: 100;
  padding-right: 20;
  padding-left: 20;
  padding-top: 10;
  padding-bottom: 10;

  &__contract-icon {
    font-size: 60;
    color: white;
  }

  &__total-count-section {
    font-weight: bold;
    color: white;

    .total-count {
      font-size: 30;
    }

    .total-count-text {
      font-size: 20;
    }
  }

  &__open-contract-count-section {
    font-weight: bold;
    color: white;

    .open-contract-icon {
      font-size: 20;
    }

    .open-contract-count {
      font-size: 20;
    }

    .open-contract-count-text {
      font-size: 15;
    }
  }
}

.contract-item-template {
  padding: 0;

  &__next-due-date-section {
    border-right-width: 2;
    border-right-style: solid;
    border-right-color: gray;
    background: $primary-gradient;
    border-top-left-radius: 10;
    border-bottom-left-radius: 10;

    .next-due-date-label {
      color: white;
      padding-top: 10;
      padding-bottom: 5;

      &__year,
      &__month-name {
        font-size: 15;
      }

      &__day-name {
        font-size: 12;
      }

      &__day-number {
        font-size: 25;
        font-weight: bold;
      }
    }
  }

  &__code-section {
    margin-top: 10;
  }

  &__tenant-name-section {
    font-size: 15;
  }

  &__status-section {
    margin-bottom: 10;

    .open-contract-label,
    .contract-duration-before-contract-ends-text {
      font-style: italic;
      font-weight: bold;
    }
  }
}
