.payment-details-dialog {
  .payment-view-dialog-buttons {
    width: 100%;

    .btn-close {
      width: 100%;
    }
  }

  .payment-add-dialog-buttons {
    width: 100%;

    Button {
      width: 50%;
      margin: 5;
    }
  }
}
