<ns-action-bar [title]="pageTitle" [hasMenu]="false">
  <ActionItem
    icon="font://&#xf0c7;"
    class="fa action-item-button"
    (tap)="updateInformation()"
  ></ActionItem>
  <ActionItem
    icon="font://&#xf2ed;"
    class="fa fa-solid action-item-button"
    (tap)="deleteSelectedItem()"
    *ngIf="currentAccountStatement?.isDeletable"
  ></ActionItem>

  <ActionItem
    [text]="'ACCOUNT_STATEMENT_DETAILS.ACTION_BAR_SECTION.OPTIONS.PAYMENTS' | translate"
    (tap)="navigateToOtherPage('payments/:id')"
    android.position="popup"
  ></ActionItem>
  <ActionItem
    [text]="'ACCOUNT_STATEMENT_DETAILS.ACTION_BAR_SECTION.OPTIONS.PENALTIES' | translate"
    android.position="popup"
    (tap)="navigateToOtherPage('penalties/:id')"
  ></ActionItem>
</ns-action-bar>

<ns-loader-layout [busy]="IsBusy">
  <StackLayout
    width="100%"
    height="100%"
    class="account-statement-details-container page-container"
  >
    <FlexBoxLayout
      class="page-container__page-divider"
      justifyContent="space-between"
    >
      <label
        alignSelf="center"
        [text]="'ACCOUNT_STATEMENT_DETAILS.ACTION_BAR_SECTION.TITLE' | translate"
      ></label>
      <button
        padding="0"
        width="120"
        alignSelf="center"
        alignSelf="flex-end"
        class="fa fa-solid page-container__page-command btn-primary -rounded-lg"
        [text]="sendDetailsButtonText"
        (tap)="sendAccountStatementDetails()"
      ></button>
    </FlexBoxLayout>
    <StackLayout class="panel">
      <ScrollView orientation="vertical">
        <!-- General Information Group -->
        <StackLayout class="panel__details-group-panel">
          <!-- Group Header -->
          <StackLayout class="panel__header-section">
            <label
              [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.LABEL' | translate"
            ></label>
          </StackLayout>

          <!-- Group body -->
          <StackLayout
            [formGroup]="waterAndElecitricBillAmountformGroup"
            class="panel__body-section"
          >
            <!-- Utility Bills Due Date Amount -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout
                class="bill-category-name"
                verticalAlignment="middle"
              >
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.DUE_DATE' | translate"
                ></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <DatePickerField
                  class="utility-bill-due-date"
                  [(ngModel)]="dueDate"
                  [ngModelOptions]="{standalone: true}"
                  margin="0"
                ></DatePickerField>
              </StackLayout>
            </StackLayout>

            <!-- Check if the miscellaneous due date is set to "Same with Utility Due Date" -->
            <StackLayout
              *ngIf="currentAccountStatement?.miscellaneousDueDate === 2"
            >
              <!-- Miscellaneous -->
              <StackLayout
                *ngIf="currentAccountStatement?.accountStatementMiscellaneous.length > 0"
                class="panel__details-section"
                orientation="horizontal"
              >
                <StackLayout class="bill-category-name">
                  <label
                    class="details-label"
                    [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.MISCELLANEOUS_FEE_LABEL' | translate"
                  ></label>
                </StackLayout>
              </StackLayout>

              <!-- Account Statement Miscellaneous -->
              <StackLayout
                *ngFor="let accountMiscellaneous of currentAccountStatement?.accountStatementMiscellaneous"
                class="panel__details-section"
                orientation="horizontal"
              >
                <StackLayout class="bill-category-name">
                  <label [text]="accountMiscellaneous.name"></label>
                </StackLayout>
                <StackLayout
                  class="bill-category-value"
                  orientation="horizontal"
                >
                  <label
                    [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                    class="m-r-5"
                  ></label>
                  <label [text]="accountMiscellaneous.formattedAmount"></label>
                </StackLayout>
              </StackLayout>
            </StackLayout>

            <!-- Water Bill Amount -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout
                class="bill-category-name"
                verticalAlignment="middle"
              >
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.WATER_BILL_AMOUNT_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  verticalAlignment="middle"
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <TextField
                  margin="0"
                  verticalAlignment="middle"
                  class="txt-water-bill-amount"
                  [autocorrection]="false"
                  keyboardType="number"
                  formControlName="waterBillAmount"
                ></TextField>
              </StackLayout>
            </StackLayout>

            <!-- Electric Bill Amount -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout
                class="bill-category-name"
                verticalAlignment="middle"
              >
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.ELECTRICITY_BILL_AMOUNT_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  verticalAlignment="middle"
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <TextField
                  margin="0"
                  class="txt-electric-bill-amount"
                  [autocorrection]="false"
                  keyboardType="number"
                  formControlName="electricBillAmount"
                ></TextField>
              </StackLayout>
            </StackLayout>

            <StackLayout class="panel__border"></StackLayout>

            <!-- Due Date  -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.DUE_DATE' | translate"
                ></label>
              </StackLayout>

              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="currentAccountStatement?.dueDateFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- Check if the miscellaneous due date is set to "Same with Rental Due Date" -->
            <StackLayout
              *ngIf="currentAccountStatement?.miscellaneousDueDate === 1"
            >
              <!-- Miscellaneous -->
              <StackLayout
                *ngIf="currentAccountStatement?.accountStatementMiscellaneous.length > 0"
                class="panel__details-section"
                orientation="horizontal"
              >
                <StackLayout class="bill-category-name">
                  <label
                    class="details-label"
                    [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.MISCELLANEOUS_FEE_LABEL' | translate"
                  ></label>
                </StackLayout>
              </StackLayout>

              <!-- Account Statement Miscellaneous -->
              <StackLayout
                *ngFor="let accountMiscellaneous of currentAccountStatement?.accountStatementMiscellaneous"
                class="panel__details-section"
                orientation="horizontal"
              >
                <StackLayout class="bill-category-name">
                  <label [text]="accountMiscellaneous.name"></label>
                </StackLayout>
                <StackLayout
                  class="bill-category-value"
                  orientation="horizontal"
                >
                  <label
                    [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                    class="m-r-5"
                  ></label>
                  <label [text]="accountMiscellaneous.formattedAmount"></label>
                </StackLayout>
              </StackLayout>
            </StackLayout>

            <!-- Rent Income -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.RENT_INCOME_LABEL' | translate"
                ></label>
              </StackLayout>

              <StackLayout
                *ngIf="currentAccountStatement?.penaltyTotalAmount === 0"
                class="bill-category-value"
                orientation="horizontal"
              >
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.rentIncomeFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- Rate Amount -->
            <StackLayout
              *ngIf="currentAccountStatement?.penaltyTotalAmount > 0"
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.RENT_AMOUNT_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.rentIncomeFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- Penalty Total Amount -->
            <StackLayout
              *ngIf="currentAccountStatement?.penaltyTotalAmount > 0"
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.PENALTIES_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.penaltyTotalAmountFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <StackLayout class="panel__border"></StackLayout>

            <!-- Total Amount -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.TOTAL_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout
                class="bill-category-value details-label"
                orientation="horizontal"
              >
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label [text]="totalAmount"></label>
              </StackLayout>
            </StackLayout>

            <!-- Cash Received -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
            >
              <StackLayout class="bill-category-name">
                <label
                  class="details-label"
                  [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.CASH_RECEIVED_LABEL' | translate"
                ></label>
              </StackLayout>
              <StackLayout
                class="bill-category-value details-label"
                orientation="horizontal"
              >
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.currentAmountPaidFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- #Start - Cash Received Breakdown -->

            <!-- Rental Fee -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
              margin="0"
              *ngIf="currentAccountStatement?.totalPaidRentalAmount > 0"
            >
              <StackLayout class="bill-category-name">
                <label [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.RENT_AMOUNT_LABEL' | translate"></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.totalPaidRentalAmountFormatted"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- Electric Bill -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
              margin="0"
              *ngIf="currentAccountStatement?.totalPaidElectricBills > 0"
            >
              <StackLayout class="bill-category-name">
                <label [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.ELECTRICITY_BILL_AMOUNT_LABEL' | translate"></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.totalPaidElectricBillsAmountFormatted"
                ></label>
              </StackLayout>
            </StackLayout>
            
            <!-- Water Bill -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
              margin="0"
              *ngIf="currentAccountStatement?.totalPaidWaterBills > 0"
            >
              <StackLayout class="bill-category-name">
                <label [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.WATER_BILL_AMOUNT_LABEL' | translate"></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.totalPaidWaterBillsAmountFormatted"
                ></label>
              </StackLayout>
            </StackLayout>
            
            <!-- Miscellaneous Fees -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
              margin="0"
              *ngIf="currentAccountStatement?.totalPaidMiscellaneousFees > 0"
            >
              <StackLayout class="bill-category-name">
                <label [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.MISCELLANEOUS_FEE_LABEL' | translate"></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.totalPaidMiscellaneousFeesFormatted"
                ></label>
              </StackLayout>
            </StackLayout>
            
            <!-- Penalty Fees -->
            <StackLayout
              class="panel__details-section"
              orientation="horizontal"
              margin="0"
              *ngIf="currentAccountStatement?.totalPaidPenaltyAmount > 0"
            >
              <StackLayout class="bill-category-name">
                <label [text]="'ACCOUNT_STATEMENT_DETAILS.GENERAL_CONTROL_GROUP.PENALTIES_LABEL' | translate"></label>
              </StackLayout>
              <StackLayout class="bill-category-value" orientation="horizontal">
                <label
                  [text]="'GENERAL_TEXTS.CURRENCY.PHP' | translate"
                  class="m-r-5"
                ></label>
                <label
                  [text]="currentAccountStatement?.totalPaidPenaltyFeesFormatted"
                ></label>
              </StackLayout>
            </StackLayout>
            <!-- #End -->
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </StackLayout>
</ns-loader-layout>
