@import '../../../../../app-variables';

Button {
  color: $white;
}

.txt-water-bill-amount,
.txt-electric-bill-amount {
  width: 100%;
  font-size: 16;
}

.panel {
  &__border {
    border-width: 5;
    width: 100%;
    margin-top: 10;
    border-color: $primary;
  }

  &__details-section {
    padding: 0;
    font-size: 14;
    border-bottom-width: 0;

    TextField {
      padding: 5;
      border-width: 2;
      border-radius: 50%;
      background-color: $white;
      height: 30;
      margin: 0;
      placeholder-color: $inactivate;
      width: 100;
    }

    .bill-category-name {
      width: 50%;

      .details-label {
        color: $primary;
      }
    }

    .bill-category-value {
      width: 50%;
    }
  }
}
