@import '../../../../app-variables';

.contract-header-container {
  background: $primary-gradient;
  width: 100%;
  height: 160;
  padding-right: 20;
  padding-left: 20;
  padding-bottom: 20;
  color: white;
  font-size: 15;

  &__contract-details {
    margin-right: 10;
  }

  &__contract-value {
    font-weight: bold;
  }

  &__contract-icon {
    font-size: 60;
    color: white;
  }
}
