<!-- This will be developed for web version -->
<!-- <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <label for="email" class="label">E-mail</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="input"
      #emailEl
    />
  </div>
  <div class="input-field">
    <label for="password" class="label">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="input"
      #passwordEl
    />
  </div>
  <div class="input-field text-center">
    <button type="button" class="btn-flat" (click)="onSwitch()">
      {{ isLogin ? "Sign in instead" : "Login instead" }}
    </button>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="!isLoading">
    {{ isLogin ? "Login" : "Sign up" }}
  </button>
  <ns-loading-indicator *ngIf="isLoading"></ns-loading-indicator>
</form> -->
