@import '../../../../app-variables';

.contract-header-container {
  background-color: $primary;
  width: 100%;
  height: 160;
  padding-right: 20;
  padding-left: 20;
  padding-top: 10;
  padding-bottom: 10;
  color: white;

  &__contract-details {
    font-size: 15;
    font-weight: bold;
  }

  &__contract-icon {
    font-size: 60;
    color: white;
  }
}
