<ns-action-bar
  [title]="'CONTRACT_LIST_PAGE.ACTION_BAR_SECTION.TITLE' | translate"
  [showBackButton]="false"
  *ngIf="!multipleSelectionActive && !filterOptionActive"
>
  <ActionItem (tap)="activateDeactivateFilterOptions()">
    <label
      text="&#xf002;"
      class="custom-action-item-button fa fa-solid"
      [ngClass]="{'custom-action-item-button--active': isFilterActive}"
    ></label
  ></ActionItem>

  <ActionItem
    [text]="'CONTRACT_LIST_PAGE.ACTION_BAR_SECTION.OPTIONS.MULTIPLE_SELECT' | translate"
    (tap)="activateDeactivateMultipleSelection()"
    android.position="popup"
  ></ActionItem>
  <ActionItem
    [text]="'CONTRACT_LIST_PAGE.ACTION_BAR_SECTION.OPTIONS.ARCHIVED_LIST' | translate"
    android.position="popup"
    (tap)="navigateToOtherPage('contracts/contract-archived-list')"
  ></ActionItem>
  <ActionItem
    [text]="'CONTRACT_LIST_PAGE.ACTION_BAR_SECTION.OPTIONS.CALENDAR_VIEW' | translate"
    android.position="popup"
    (tap)="navigateToOtherPage('contracts/contract-calendar')"
  ></ActionItem>
</ns-action-bar>

<ns-action-bar
  [title]="selectedCount"
  [showBackButton]="false"
  [hasMenu]="false"
  *ngIf="multipleSelectionActive"
>
  <ActionItem
    icon="font://&#xf1c6;"
    class="fa fa-solid action-item-button"
    (tap)="deactivateSelectedItems()"
  ></ActionItem>
  <ActionItem
    icon="font://&#xf00d;"
    class="fa fa-solid action-item-button"
    (tap)="activateDeactivateMultipleSelection()"
  ></ActionItem>
</ns-action-bar>

<ns-action-bar
  title=""
  [hasMenu]="false"
  [showBackButton]="false"
  *ngIf="filterOptionActive"
>
  <SearchBar
    #searchBar
    [hint]="'CONTRACT_LIST_PAGE.ACTION_BAR_SECTION.SEARCH_BAR_HINT_TEXT' | translate"
    (submit)="onSubmitSearchText($event)"
    (clear)="onClearSearchText($event)"
  >
  </SearchBar>
  <ActionItem (tap)="openFilterDialog()">
    <label
      text="&#xf0b0;"
      class="custom-action-item-button fa fa-solid"
      [ngClass]="{'custom-action-item-button--active': isFilterActive}"
    ></label
  ></ActionItem>
  <ActionItem
    icon="font://&#xf00d;"
    class="fa fa-solid action-item-button"
    (tap)="activateDeactivateFilterOptions()"
  ></ActionItem>
</ns-action-bar>

<ns-loader-layout [busy]="IsBusy">
  <StackLayout width="100%" height="100%">
    <StackLayout class="contract-header-container">
      <GridLayout columns="80, *" rows="*, *">
        <StackLayout
          row="0"
          column="0"
          rowSpan="2"
          class="contract-header-container__contract-icon"
        >
          <label text="&#xf573;" class="fa fa-solid m-r-10"></label>
        </StackLayout>
        <StackLayout
          class="contract-header-container__total-count-section"
          row="0"
          column="1"
          orientation="horizontal"
        >
          <label class="total-count m-r-5" [text]="totalNumberOfItems"></label>
          <label
            class="total-count-text"
            verticalAlignment="middle"
            [text]="'CONTRACT_LIST_PAGE.HEADER_SECTION.TOTAL_CONTRACTS' | translate"
          ></label>
        </StackLayout>
        <StackLayout
          class="contract-header-container__open-contract-count-section"
          row="1"
          column="1"
          orientation="horizontal"
        >
          <label
            verticalAlignment="middle"
            text="&#xf017;"
            class="open-contract-icon fa m-r-10"
          ></label>
          <label
            verticalAlignment="middle"
            class="open-contract-count m-r-5"
            [text]="openContractsCount"
          ></label>
          <label
            class="open-contract-count-text"
            verticalAlignment="middle"
            [text]="'CONTRACT_LIST_PAGE.HEADER_SECTION.OPEN_CONTRACTS' | translate"
          ></label>
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout class="page-container">
      <RadListView
        width="100%"
        height="100%"
        #appListView
        class="app-list-container"
        [items]="items"
        swipeActions="true"
        selectionBehavior="Press"
        multipleSelection="true"
        pullToRefresh="true"
        loadOnDemandMode="Auto"
        loadOnDemandBufferSize="2"
        (itemSelected)="selectItem($event.index, '/tenants/:id')"
        (itemDeselected)="deselectedItem($event)"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
        (pullToRefreshInitiated)="onPullToRefreshInitiatedForPaginatedList($event)"
        (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
      >
        <ng-template tkListItemTemplate let-contract="item">
          <GridLayout
            class="app-list-item-template contract-item-template"
            rows="*, *, *"
            columns="80, *"
          >
            <!-- Template for not selected contract item -->
            <StackLayout
              *ngIf="multipleSelectionActive && !contract.isSelected"
              row="0"
              col="0"
              rowSpan="3"
              class="m-r-5 m-l-5"
              verticalAlignment="middle"
              orizontalAlignment="center"
            >
              <StackLayout
                class="app-list-item-template__selection-mode app-list-item-template__selection-mode--is-not-selected"
                verticalAlignment="middle"
              >
              </StackLayout>
            </StackLayout>

            <!-- Template for selected contract item -->
            <StackLayout
              *ngIf="multipleSelectionActive && contract.isSelected"
              row="0"
              col="0"
              rowSpan="3"
              class="m-r-5 m-l-5"
              verticalAlignment="middle"
              orizontalAlignment="center"
            >
              <StackLayout
                class="app-list-item-template__selection-mode app-list-item-template__selection-mode--is-selected"
                verticalAlignment="middle"
              >
                <label
                  class="fa fa-solid"
                  horizontalAlignment="center"
                  text="&#xf00c;"
                ></label>
              </StackLayout>
            </StackLayout>

            <!-- Template contract item photo placeholder -->
            <StackLayout
              *ngIf="!multipleSelectionActive && !contract.isSelected"
              row="0"
              col="0"
              rowSpan="3"
              class="contract-item-template__next-due-date-section m-r-10"
              orientation="vertical"
            >
              <StackLayout *ngIf="contract.isExpired">
                <label
                  class="fa fa-solid"
                  verticalAlignment="middle"
                  horizontalAlignment="center"
                  text="&#xf273;"
                  fontSize="45"
                ></label>
              </StackLayout>

              <StackLayout
                class="next-due-date-label"
                verticalAlignment="middle"
                orientation="vertical"
                *ngIf="!contract.isExpired"
              >
                <label
                  class="next-due-date-label__month-name"
                  horizontalAlignment="center"
                  [text]="contract.nextDueDateMonthName"
                ></label>

                <label
                  class="next-due-date-label__day-number"
                  horizontalAlignment="center"
                  [text]="contract.nextDueDateDay"
                ></label>

                <label
                  class="next-due-date-label__day-name"
                  horizontalAlignment="center"
                  [text]="contract.nextDueDateDayName"
                ></label>
              </StackLayout>
            </StackLayout>

            <StackLayout
              class="app-list-item-template__item-main-label contract-item-template__code-section"
              verticalAlignment="middle"
              orientation="horizontal"
              row="0"
              col="1"
            >
              <label [text]="contract.code"></label>
            </StackLayout>

            <StackLayout
              class="contract-item-template__tenant-name-section"
              row="1"
              col="1"
              orientation="horizontal"
            >
              <label
                text="&#xf007;"
                verticalAlignment="middle"
                class="fa m-r-5"
              ></label>
              <label [text]="contract.tenantName"></label>
            </StackLayout>

            <StackLayout
              class="contract-item-template__status-section"
              *ngIf="contract.isOpenContract"
              row="2"
              col="1"
              orientation="horizontal"
            >
              <label
                verticalAlignment="middle"
                text="&#xf017;"
                class="fa m-r-5"
              ></label>
              <label
                class="open-contract-label"
                verticalAlignment="middle"
                [text]="'CONTRACT_LIST_PAGE.LIST_ITEM.OPEN_CONTRACT' | translate"
              ></label>
            </StackLayout>

            <StackLayout
              class="contract-item-template__status-section"
              *ngIf="!contract.isOpenContract && !contract.isExpired"
              row="2"
              col="1"
              orientation="horizontal"
            >
              <label
                verticalAlignment="middle"
                text="&#xf2f2;"
                class="fa fa-solid m-r-5"
              ></label>
              <label
                class="contract-duration-before-contract-ends-text"
                [text]="'CONTRACT_LIST_PAGE.LIST_ITEM.EXPIRATION' | translate"
              ></label>
              <label
                class="contract-duration-before-contract-ends-text"
                [text]="contract.contractDurationBeforeContractEndsText"
              ></label>
            </StackLayout>
          </GridLayout>
        </ng-template>

        <GridLayout
          *tkListItemSwipeTemplate
          columns="*, auto"
          class="app-list-item-swipe-template"
        >
          <FlexBoxLayout
            col="1"
            class="app-list-item-swipe-template__option-container"
            id="itemSwipeActions"
            justifyContent="space-around"
            *ngIf="!multipleSelectionActive && isNotNavigateToOtherPage"
          >
            <button
              alignSelf="center"
              class="fa app-list-item-swipe-template__option"
              text="&#xf1c6;"
              (tap)="activateSelectedItem()"
              *ngIf="!isCurrentItemActive"
            ></button>
            <button
              alignSelf="center"
              class="fa fa-solid app-list-item-swipe-template__option"
              text="&#xf1c6;"
              (tap)="deactivateSelectedItem()"
              *ngIf="isCurrentItemActive"
            ></button>
          </FlexBoxLayout>
        </GridLayout>
      </RadListView>
    </StackLayout>
  </StackLayout>

  <ns-floating-button
    (tapButton)="navigateToOtherPage('/contracts/contract-add')"
    [icon]="'&#xf067;'"
  ></ns-floating-button>
</ns-loader-layout>
