@import '../../../../app-variables';

.contract-account-list-container {
  padding-top: 0;
  &__page-divider {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__icon {
    font-size: 22;
  }

  &__button {
    width: 40;
    font-size: 15;
  }

  &__button--active {
    color: $primary;
    background-color: white;
  }

  .contract-account-statement-item-template {
    &__payment-status {
      text-align: center;
      margin-right: 10;
      border-radius: 50%;
      padding: 6;
      color: white;

      &--paid {
        background-color: rgb(12, 160, 12);
      }

      &--unpaid {
        background-color: rgb(233, 56, 56);
      }
    }

    &__icon {
      font-size: 15;
    }

    &__detail {
      font-size: 14;
    }
  }
}

.contract-account-statement-list-footer {
  height: 10%;
  background-color: $primary;
  padding: 7;

  &__total-paid-amount-section,
  &__total-expected-amount-section {
    color: white;
  }

  &__total-paid-amount-section-label,
  &__total-expected-amount-section-label {
    font-size: 13;
  }

  &__total-paid-amount-section-icon,
  &__total-expected-amount-section-icon {
    font-size: 16;
  }

  &__total-paid-amount-section-detail,
  &__total-expected-amount-section-detail {
    font-size: 15;
    font-weight: bold;
  }

  &__separator {
    border-right-width: 1;
    border-right-color: white;
    border-right-style: solid;
  }
}
