// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

/*#region FONT ICON CLASSES*/
.fa {
  font-family: 'FontAwesome', 'Font-Awesome';
}

.fa-regular {
  font-family: 'fa-regular-400', 'fa-regular-400';
}

.fa-solid {
  font-family: 'fa-solid-900', 'fa-solid-900';
}
/*#endregion*/

/*#region ACTION BAR CLASSES*/
.action-bar {
  .action-item-button {
    font-size: 7;
  }
}
/*#endregion*/

/*#region SIDE DRAWER CLASSES*/
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
  &.sidedrawer-left {
    background-color: $ab-background;

    .sidedrawer-header-image {
      color: $background-dark;
      height: $sidedrawer-header-image-size;
      width: $sidedrawer-header-image-size;
      font-size: $sidedrawer-header-image-size;
      padding: 0;
      margin-bottom: $sidedrawer-header-image-offset-bottom;
      margin-top: $sidedrawer-header-image-offset-top;
    }

    .footnote {
      color: rgba($ab-color, 0.5);
    }
  }

  .sidedrawer-header {
    background-color: $ab-background;

    .sidedrawer-header-brand {
      color: $ab-color;
    }
  }

  .sidedrawer-content {
    background-color: $side-drawer-background;

    $sidedrawer-list-item-offset-left: 15;
    $sidedrawer-list-item-offset-bottom: 3;
    $sidedrawer-list-icon-offset: 10;
    $sidedrawer-list-font-size: 15;
    $sidedrawer-list-icon-size: 25;
    $sidedrawer-list-width-size: 35;

    .sidedrawer-list-item {
      font-size: $sidedrawer-list-font-size;
      padding-left: $sidedrawer-list-item-offset-left;
      margin-bottom: $sidedrawer-list-item-offset-bottom;
      label {
        vertical-align: center;
        color: $blue-dark;
      }
      .fa {
        font-size: $sidedrawer-list-icon-size;
        width: $sidedrawer-list-width-size;
        margin-right: $sidedrawer-list-icon-offset;
      }
      &.selected {
        background-color: $item-active-background;
        label {
          color: $item-active-color;
        }
      }
    }

    .menu-separator {
      border-bottom-width: 1;
      border-bottom-color: #888;
    }
  }
}
/*#endregion*/

/*#region PAGE CONTAINER CLASSES*/
.page-container {
  background-color: $background-dark;
  width: 100%;
  height: 100%;
  padding: 10;

  &__page-divider {
    width: 100%;
    margin-top: 10;
    margin-bottom: 10;
    Label {
      font-size: 18;
      color: $accent-dark;
      font-weight: bold;
    }
  }

  &__page-command {
    width: 100;
  }

  .panel {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10;
    padding-top: 5;
    padding-bottom: 25;
    padding-left: 5;
    padding-right: 5;
    box-shadow: 0 3 4 rgba(0, 0, 0, 0.1);
  }
}
/*#endregion*/

/*#region LIST CONTAINER CLASSES*/
.app-list-container {
  width: 100%;
  height: 100%;

  .app-list-item-template {
    background-color: white;
    border-color: #cccccc;
    border-bottom-width: 1;
    border-radius: 10;
    box-shadow: 0 3 4 rgba(0, 0, 0, 0.1);
    margin-top: 5;
    padding: 10;

    &__image-container {
      height: 60;
      width: 60;
      border-radius: 100%;

      label {
        font-size: 20;
        font-weight: bold;
        color: black;
      }
    }

    &__selection-mode {
      height: 60;
      width: 60;
      border-radius: 100%;
      label {
        font-size: 20;
        font-weight: bold;
        color: white;
      }

      &--is-selected {
        background-color: $accent-dark;
      }

      &--is-not-selected {
        background-color: $inactivate;
      }
    }

    &__inactive-indicator {
      width: 15;
      height: 15;
      background-color: #ff4d4d;
      border-radius: 50%;
      margin-right: 10;
    }

    &__item-main-label {
      font-size: 15;
      font-weight: bold;
      color: black;
    }

    &__item-secondary-label {
      font-weight: bold;
    }

    &__option {
      width: 50;
      height: 50;
      border-radius: 50%;
      font-size: 20;
      background-color: white;
    }
  }

  .app-list-item-swipe-template {
    &__option-container {
      padding-right: 10;
      padding-left: 10;
    }

    &__option {
      width: 50;
      height: 50;
      margin-right: 5;
      margin-left: 5;
      border-radius: 50%;
      font-size: 20;
      background-color: white;
    }
  }
}
/*#endregion*/
